<table id="collection--{{ table.name }}--table" class="collection-table">
    <tr class="collection-table--row collection-table--header">
        {% for col in table.columns.names if col in table.columns.visible %}

            <td class="collection-table--cell{% if sortable %} collection-table--cell-sortable{% endif %}">
                <span>{{ table.columns.labels[col] or col }}</span>
            </td>

        {% endfor %}
    </tr>

    {% for row in table.data %}
        {% snippet row_snippet, row=row, table=table %}
    {% endfor %}

</table>
